<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class="col-md-8 offset-md-4 mt-1">
      <% if user_signed_in? %> <!--userがログインしているか確認-->
        <div class="search_form">
          <%= form_with url: search_path, local: true, method: :get do |f| %>
            <%= f.text_field :word %> <!--検索内容をwordとしてアクションにおくる-->
            <%= f.select :range, options_for_select([['User'], ['Book']]) %> <!--検索できるモデルを選択-->
            <%= f.select :search, options_for_select([["完全一致","perfect_match"],["前方一致","forward_match"],["後方一致","backward"],["部分一致","partial_match"]]) %> <!--選択の種類を定義-->
            <%= f.submit "検索", class: "btn-primary" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>